/* Coolors Exported Palette - coolors.co/5bb641-0eaf3e-d2fdff-3abeff-ffffff */

/* HSL */
$color1: hsla(107%, 47%, 48%, 1);
$color2: hsla(138%, 85%, 37%, 1);
$color3: hsla(183%, 100%, 91%, 1);
$color4: hsla(200%, 100%, 61%, 1);
$color5: hsla(0%, 0%, 100%, 1);

/* RGB */
$color1: rgba(91, 182, 65, 1);
$color2: rgba(14, 175, 62, 1);
$color3: rgba(210, 253, 255, 1);
$color4: rgba(58, 190, 255, 1);
$color5: rgba(255, 255, 255, 1);