<%= form_tag() do %>
  <fieldset>
    <div class="field">
      <%= label_tag :amount %>
      <%= text_field_tag :amount %>
    </div>

    <div class="actions">
      <%= submit_tag %>
    </div>
  </fieldset>
<% end %>